@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-black
    }
}

@layer components {
    .headerIcon {
        @apply lg:w-6 lg:h-6 w-5 h-5 cursor-pointer text-white hover:opacity-80
    }

    .headerList {
        @apply hidden lg:text-lg cursor-pointer text-white hover:opacity-80
    }

    .bannerBtn {
        @apply text-white text-base md:text-xl flex gap-x-2 items-center hover:opacity-80
    }

    .bannerIcon {
        @apply h-4 w-4 md:h-5 md:w-5
    }

    .rowIcon {
        @apply h-9 w-9 text-white absolute opacity-0
               group-hover:opacity-100 z-50 ease-in-out duration-200
               hover:scale-125 cursor-pointer 
    }

    .input {
        @apply bg-[#333333] p-3 rounded-md outline-none text-white
               focus:bg-[#454545] w-64
    }

    .error {
        @apply text-orange-400 font-light w-64 text-sm
    }

    .pg {
        @apply text-white text-lg sm:text-2xl
    }

    .signUp {
        @apply border-gray-500 border px-3 py-5 rounded-sm  w-full outline-none 
        
    }
}